html{
    font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{ 
    max-width:  60rem;
   max-height: 60rem;
    margin:0 auto; 
    overflow: hidden;
    border-radius: 1rem;
    border: 1rem solid white;
}
body{
    padding: 20rem 10rem;
    background: linear-gradient(to right,#026146, #232D3F); 
}





.input{
    max-width: 30rem;
    height: 3rem;
    border: none;
    border: 3px solid grey;
    border-radius: 2px;
    color:  #232D3F;
    margin-right: 0.5rem;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
}
.btn{
    width: 10rem;
    border: 3px solid grey;
    border-radius: 1rem;
    color: #232D3F;
    font-size: 2rem;
    font-weight: 900;
}